/*
#calendar{
    width: 100%;
    height: 200px;
}

#fb-btn{
    position: absolute;
    margin-top: -197px;
    margin-left: 110px;
}

#twitter-wjs{
    position: absolute;
    margin-top: -197px;
    margin-left: 190px;
}
<<<<<<< HEAD
*/

#dialog{
    display: none;
}

#eventName{
    width: 100%;
}

#datepicker{
    width: 100%;
}

#createEventBtn{
    width: 102%;
}

.options ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.options p{
    padding: 0;
    margin: 0;
}