body {
    padding: 15px;
    background: #757F9A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Helvetica-Neue !important;
}

#login-overlay{
    z-index: 2 !important;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;    
}

td {
    background: rgba(255, 255, 255, 0.35);
}

.modal-title {
	text-align: center !important;
	color: #5c6a90 !important;
	font-variant: small-caps !important;
}

h1.modal-title {
	font-size: 50px !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #5c6a90 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #5c6a90 !important;
   opacity: 1 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #5c6a90 !important;
   opacity: 1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #5c6a90 !important;
}

input {
	color: #5c6a90 !important;
}

.additional-options {
	font-variant: small-caps;
}

.active-overlay {
    z-index: 1;
    filter: blur(5px);
    -webkit-filter: blur(5px);			
    pointer-events: none; /*This disables mouse events while the calendar is blurred */
}

#dialog {
	display: none;
}       

.modal-content {
	background: rgba(255, 255, 255, 0.65) !important;
}

.row {
	background: rgba(255, 255, 255, 0.0) !important;
}

.well {
	background: rgba(255, 255, 255, 0.0) !important;
	border: 0px solid black !important;
	box-shadow: none !important;
}

.modal-header {
	border: 0px solid black !important;
}

#fb-btn{
    margin-top: 10px;
    margin-left: 0px;
}

#twitter-wjs{
    margin-top: 0px;
    margin-left: 10px;
    display: inline-block;
}

#eventName, #datepicker{
    width: 100%;
}

#createEventBtn{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 102%;
}

.options p{
    margin: 0;
    padding: 0;
}