body {
    background: #757F9A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#login{
	display: none;
}

td {
    background: rgba(255, 255, 255, 0.35);
}

#header {
    border: 3px solid red;
    z-index: 2;
    position: absolute;
}

#calendar {
   filter: blur(5px) !important;
  -webkit-filter: blur(5px) !important;			
  pointer-events: none !important; /*This disables mouse events while the calendar is blurred */
}

#dialog {
	display: none;
}       

.modal-content {
	background: rgba(255, 255, 255, 0.65) !important;
}

.row {
	background: rgba(255, 255, 255, 0.0) !important;
}

.well {
	background: rgba(255, 255, 255, 0.0) !important;
	border: 0px solid black !important;
	box-shadow: none !important;
}

.modal-header {
	border: 0px solid black !important;
}

/*

#fb-btn{
    position: absolute;
    margin-top: -197px;
    margin-left: 110px;
}

#twitter-wjs{
    position: absolute;
    margin-top: -197px;
    margin-left: 190px;
}

*/


#eventName{
    width: 100%;
}

#datepicker{
    width: 100%;
}

#createEventBtn{
    width: 102%;
}

.options ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.options p{
    padding: 0;
    margin: 0;
}