<form name="addEventForm">
    <p>
        <input id='eventName' type="text" placeholder="e.g. C# Exam at Telerik">
    </p>
    <p>
        <input id="datepicker" type="text">
    </p>
    <p>
        <div id="accordion">
            <p>More Options</p>
            <div>
                <p>
                    <label>
                        <input type="checkbox" name="allday" value="value">
                        <span>All Day Event</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input type="checkbox" name="email-alert" value="value">
                         <span>Repeat Event</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input type="checkbox" name="email-alert" value="value">
                        <span>Alert me via Email</span>
                    </label>
                </p>
            </div>
        </div>
    </p>
    <button id='createEventBtn'>Create</button>
</form>