<div id="dialog" title="View Event">
    <form name="viewEventForm">
        <p>
            <input id='eventName' type="text" placeholder="e.g. C# Exam at Telerik">
        </p>
        <p>
            <input id="datepicker" type="text">
        </p>
        <p>
            <input id="location" type="text" placeholder="e.g. Aleksandur Malinov str.">
        </p>
        <p>
            <div class="options">
                <p>
                    <label>
                        <input type="checkbox" name="allday" value="value">
                        <span>All Day Event</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input type="checkbox" name="email-alert" value="value">
                        <span>Repeat Event</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input type="checkbox" name="email-alert" value="value">
                        <span>Alert me via Email</span>
                    </label>
                </p>
            </div>
        </p>
        <button id='deleteEventBtn'>Delete</button>
    </form>
</div>