<div id="dialog" title="View Event">
    <form name="viewEventForm">
        <p>
            <input id='eventName' type="text" placeholder="e.g. C# Exam at Telerik">
        </p>
        <p>
            <input id="datepicker" type="text">
        </p>
        <p>
            <input id="location" type="text" placeholder="e.g. Aleksandur Malinov str.">
        </p>
        <p>
            <div class="options">
                <p>
                    <label>
                        <input type="checkbox" name="allday" value="value">
                        <span>All Day Event</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input type="checkbox" name="email-alert" value="value">
                        <span>Repeat Event</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input type="checkbox" name="email-alert" value="value">
                        <span>Alert me via Email</span>
                    </label>
                </p>
                <div id="fb-btn" class="fb-share-button" data-href="https://github.com/iDonev/mCalendar" data-layout="button_count" data-mobile-iframe="true">
                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://github.com/iDonev/mCalendar">
		            </a>
                </div>
                <div id="twitter-wjs">
                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=My%20Calendar%20App">Tweet</a>
                </div>
            </div>
        </p>
        <button id='deleteEventBtn'>Delete</button>
    </form>
</div>